* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  --form-background: PaleGreen;
  --form-border: ForestGreen;
  --header-background: SeaGreen;
  --header-font: white;
  --field-label: DarkGreen;
  --field-input: DarkGreen;
}

.main {
  min-height: 100vh;
  width: 100%;
}

.content {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-rows: repeat(13, 1fr);

  min-height: 500px;
  max-width: 550px;
  border-radius: 10px;
  background-color: var(--form-background);

  padding: 10px 20px 20px 20px;
  border: 5px solid var(--form-border);
  margin: 20px;
}

form h1 {
  grid-row: 1 / 2;

  width: fit-content;
  background-color: var(--header-background);
  color: var(--header-font);

  padding: 5px 10px;
  border-radius: 5px;
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

form #emailField,
form #countryField,
form #postalCodeField,
form #passwordField,
form #confirmField {
  display: flex;
  flex-direction: column;
  margin: 20px 5px 5px 5px;
}

form #emailField {
  grid-row: 2 / 4;
}

form #countryField {
  grid-row: 4 / 6;
}

form #postalCodeField {
  grid-row: 6 / 8;
}

form #passwordField {
  grid-row: 8 / 10;
}

form #confirmField {
  grid-row: 10 / 12;
}

form #buttonSet {
  grid-row: 12 / 14;
}

form label {
  color: var(--field-label);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

form input,
form select {
  height: 2rem;

  padding: 0px 5px;
  border: 2px solid var(--field-input);
  border-radius: 5px;
  font-size: 1rem;
}

form input:focus {
  box-shadow: inset 0 0 0 1px var(--field-input);
}

form span {
  height: 2rem;

  padding: 5px;
}